/* src/components/contact/ContactForm.css */

.contact-form-box {
  width: 100%;
}

.contact-mini-title {
  color: #8d56ff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
}

.contact-form-box h2 {
  color: white;
  font-size: 54px;
  font-weight: 800;
  margin: 15px 0;
}

.contact-form-box p {
  color: #bcb5d4;
  margin-bottom: 35px;
  line-height: 1.8;
  max-width: 520px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  background: #0d071f;
  border: 1px solid rgba(255,255,255,.06);
  border-radius: 14px;
  padding: 18px 22px;
  color: white;
  outline: none;
  transition: .3s;
}

.contact-form textarea {
  resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #8d56ff;
  box-shadow: 0 0 0 4px rgba(141,86,255,.15);
}
.contact-btn {
  margin-top: 20px;
  border: none;
  background: linear-gradient(90deg, #7b4dff, #9f62ff);
  color: white;
  border-radius: 40px;

  /* reduced size */
  padding: 10px 18px;

  font-size: 14px;
  font-weight: 500;

  display: inline-flex;
  align-items: center;
  gap: 10px;

  cursor: pointer;
  transition: 0.3s ease;

  box-shadow: 0 8px 20px rgba(123, 77, 255, 0.25);
}

.contact-btn span {
  width: 28px;
  height: 28px;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.18);

  display: grid;
  place-items: center;

  font-size: 12px;
}

.contact-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 25px rgba(123, 77, 255, 0.35);
}

@media (max-width:576px) {
  .contact-form-box h2 {
    font-size: 38px;
  }

  .contact-btn {
    width: 100%;
    justify-content: center;
  }
}