.footer-section {
  background: #0f0825;
  color: white;
  position: relative;
  margin-top: 140px;
}

/* banner */
.footer-banner {
  transform: translateY(-70px);
}

.footer-banner-content {
  background: linear-gradient(90deg,#6d3df5,#8d56ff);
  border-radius: 28px;
  padding: 45px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-banner-content h2 {
  font-size: 34px;
  font-weight: 700;
  max-width: 550px;
}

.footer-banner-content button {
  border: none;
  background: white;
  color: black;
  padding: 14px 30px;
  border-radius: 40px;
  font-weight: 600;
  transition: .3s;
}

.footer-banner-content button:hover {
  transform: translateY(-3px);
}

/* main */
.footer-main {
  padding-bottom: 70px;
}

.footer-logo {
  width: 150px;
  margin-bottom: 20px;
}

.footer-company p {
  color: #c6bfdc;
  line-height: 1.8;
  margin: 20px 0;
  max-width: 320px;
}

.footer-socials {
  display: flex;
  gap: 12px;
}

.footer-socials a {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #1e153e;
  color: white;
  display: grid;
  place-items: center;
  transition: .3s;
}

.footer-socials a:hover {
  background: #7b4dff;
  transform: scale(1.1);
}

/* newsletter */
.newsletter-box h5 {
  margin-bottom: 18px;
  font-weight: 700;
}

.newsletter-box p {
  color: #bcb5d4;
}

.newsletter-input {
  background: #1d123d;
  border-radius: 50px;
  padding: 8px;
  display: flex;
  margin: 20px 0;
}

.newsletter-input input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  padding-left: 18px;
}

.newsletter-input button {
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #7b4dff;
  color: white;
}

/* bottom */
.footer-bottom {
  border-top: 1px solid rgba(255,255,255,.08);
  padding: 25px 8%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-bottom a {
  color: #c6bfdc;
  margin-left: 20px;
  text-decoration: none;
}

@media(max-width:768px) {
  .footer-banner-content {
    flex-direction: column;
    gap: 25px;
    text-align: center;
    padding: 35px;
  }

  .footer-banner-content h2 {
    font-size: 28px;
  }

  .footer-bottom {
    text-align: center;
    gap: 20px;
    justify-content: center;
  }
}